.progress__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 25%;
  height: 816px;
  border-radius: 5px;
  background-color: #e6ecf0;
}
.progress__container_header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 13px 0 5px 0;
}
.progress__container_header h5 {
  font: 700 15px "Roboto", sans-serif;
}
.progress__container_header span {
  font: 700 13px "Roboto", sans-serif;
  padding: 7px 11px;
  border-radius: 50%;
  background-color: #d5d5d5;
}
