.signup__container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 0;
}
.signup__container form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  border-radius: 25px;
  padding: 30px 0;
  box-shadow: 1px 0 10px #c4c2c2;
}
.signup__container form h3 {
  font: 700 28px Roboto;
}
.signup__container form .signup__input {
  width: 80%;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 8px;
  background-color: #e6ecf0;
}
.signup__container form .signup__input::placeholder {
  font: 600 14px Roboto;
  color: #444;
}
.signup__container form .signup__input:focus {
  border: 1px solid #444;
}
